<%- include('partials/header') %>

    <link rel="stylesheet" href="/styles/user/signup.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body>
    <div class="d-flex justify-content-center align-items-center min-vh-100">
        <div class="d-flex register-container">
            <div class="brand-section">
                <h2 class="text-center"><small>SHOEZIE</small></h2> <!-- Brand Name -->
                <img src="/images/userlogin.png" alt="Brand Image" class="img-fluid mb-3 w-75"> <!-- Add your image here -->
                <p class="mt-3"><small>Already have an account? </small><a href="/login"><small>Login here</small></a></p>
                <div class="mt-4">
                    <a href="/" ><small<i class="fa-solid fa-house " style="color: #000000;"></i></small></a>
                </div>
            </div>
            <div class="input-section">
                <form id="signupForm" action="/register" method="post">
                    <% if(error.length > 0){ %>
                        <p id="error-message" class="text-center" style="color: red;"><small><%= error %></small></p>
                           <% } %>
                    <div class="form-group">
                        <label for="firstname"><small>Firstname</small></label>
                        <input type="text" class="form-control rounded-pill" id="firstname" name="firstname" placeholder="Enter firstname">
                        <div class="invalid-feedback"><small>Name must be at least 3 characters long.</small></div>
                    </div>
                    <div class="form-group">
                        <label for="lastname"><small>Lastname</small></label>
                        <input type="text" class="form-control rounded-pill" id="lastname" name="lastname" placeholder="Enter lastname">
                        <div class="invalid-feedback"><small>Name must be at least 1 character long.</small></div>
                    </div>
                    <div class="form-group">
                        <label for="email"><small>Email</small></label>
                        <input type="email" class="form-control rounded-pill" id="email" name="email" placeholder="Enter email">
                        <div class="invalid-feedback"><small>Please enter a valid email address.</small></div>
                    </div>
                    <div class="form-group password-wrapper">
                        <label for="password"><small>Password</small></label>
                        <input type="password" class="form-control rounded-pill" id="password" name="password" placeholder="Enter password">
                        <i class="fa-regular fa-eye" id="togglePassword" style="color: #000000; display: none;"></i>
                        <div class="invalid-feedback"><small>Password must be at least 6 characters long.</small></div>
                    </div>
                    <div class="form-group password-wrapper">
                        <label for="confirmPassword"><small>Confirm Password</small></label>
                        <input type="password" class="form-control rounded-pill" id="confirmPassword" name="confirmPassword" placeholder="Confirm password">
                        <i class="fa-regular fa-eye" id="toggleConfirmPassword" style="color: #000000; display: none;"></i>
                        <div class="invalid-feedback"><small>Passwords do not match.</small></div>
                    </div>
                    <button type="submit" class="btn btn-p btn-block rounded-pill">Signup</button>
                    <p class="text-center or">or</p>
                    <a href="/auth/google" class="btn btn-sm btn-outline-dark btn-block rounded-pill">
                        <i class="fa-brands fa-google" style="color: #000000; margin-right: 5px;"></i> Signup with Google
                    </a>
                </form>
            </div>
        </div>
    </div>

        <%- include('partials/footer') %>

    <script src="/js/signup.js"></script>

    <script>
 setTimeout(function() {
            const errorMessage = document.getElementById('error-message');
            if (errorMessage) {
                errorMessage.style.display = 'none'; // Hide the error message
            }
        }, 3000);
    </script>
</body>
</html>
