body {
    font-family: 'Poppins', sans-serif; /* Apply Poppins font */
    background-color: #ffffff; /* White background for the body */
    color: #000000; /* Black text color for readability */
    margin: 0;
}

.register-container {
    max-width: 800px;
    width: 100%;
    padding: 20px;
    background-color: #f5f5f5; /* Light gray background for the container */
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Slightly darker shadow for contrast */
    display: flex;
}

.brand-section {
    flex: 1; /* Allow brand section to take up space */
    text-align: center; /* Align text to the left */
 /* Add padding for spacing */
 padding: 10px;
 padding-top: 30px;
 padding-left: 0;
}

.input-section {
    flex: 1; /* Allow input section to take up more space */
    /* Add padding for spacing */
    padding: 10px;
}

.brand-section img {
    max-width: 100%; /* Ensure image is responsive */
    height: auto; /* Maintain aspect ratio */
}


.password-wrapper {
    position: relative;
}

.password-wrapper input[type="password"] {
    padding-right: 40px; /* Adjust this value based on the size of the icon */
}

.password-wrapper i {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #666;
}

.or {
    margin: 0;
}
label{
    margin: 0;
}
.form-group{
    margin-bottom: 5px;
}

.register-container .form-control {
    color: #000; /* Black text color */
    border: 1px solid #ccc; /* Light gray border color */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.register-container .form-control::placeholder {
    color: #bcbcbc; /* Placeholder text color */
}

.register-container .btn-p {
    margin-top: 15px;
    background-color: #c1b77f; /* White background for primary button */
    border: none; /* Remove border */
    color: #ffffff; /* Black text color */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.register-container .btn-p:hover {
    background-color: #c9be83; /* Light gray on hover */

}

.register-container a {
    color: #000; /* Black color for links */
}


.invalid-feedback {
    display: none;
    color: #b71c1c;
    font-size: 0.875em;
}

.form-control.is-invalid {
    border-color: #b71c1c;
}

.form-control.is-valid {
    border-color: #28a745;
}
.form-control:valid {
    background: none; 
    padding-right: 0; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.form-control:invalid {
    background: none; 
    padding-right: 0; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

@media(max-width: 415px) {
    .register-container {
        flex-direction: column; /* Stack elements on smaller screens */
        width: 97%;
    }
}
