
.custom-table {
    width: 100%;
    border-collapse: collapse;
    border: none; 
    border-radius: 5px; 
    overflow: hidden;
}
.custom-table thead {
    background-color: rgb(237, 237, 237);
    color: #313131;
}
.custom-table th, .custom-table td {
    text-align: center;
    padding: 10px; 
    border: none; 
}

.btn-warning {
    background-color: #e3e3e3;
    color: #000000;
    border: 1px solid #c2c1bb;
}

.btn-success {
    background-color: #d4edda;
    color: #155724;
}

.btn-danger {
    background-color: #f5c6cb;
    color: #721c24;
}

.icon-spacing {
    margin-right: 5px;
}

.product-image {
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}

.product-image-display {
    padding: 15px;
    border: 1px solid #dee2e6;
    border-radius: 0.5rem;
    background-color: #f8f9fa;
}

.product-image-display img {
    max-width: 100%;
    height: auto;
}
.product-table-image {
    width: 50px; 
    height: auto; 
}

#imagePreview {
    height: 100px;
    width: auto;
}

.form-group{
    padding: 0;
    margin: 0;
}
.form-control{
    padding: 0 12px;
}
.modal-body {
    padding: 5px 20px;
}
.image-card {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.img-group img{
    width: 70px;
    height: 70px;
}
.image-wrapper {
    display: inline-block;
    position: relative;
    margin-right: 10px;
}

.delete-button {
    position: absolute;
    bottom: -25px; 
    left: 50%;
    transform: translateX(-50%);
}

.is-invalid {
    border-color: red;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);  
    display: none;  
    z-index: 9;
}
.spinner{
    display: none;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 40px;
    height: 40px;
    border: 3px solid ;
    border-radius: 50%;
    border-color: black transparent black transparent;
    animation: spin 1s ease infinite;
}
@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
