.product-image-remove-button {
  position: absolute;
  top: 2px;
  right: 11px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 1px 4px;
  font-size: 10px;
  z-index: 10;
  display: none;
}
