
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font globally */
}

body {
    background-color: #ffffff;
}

/* Ensure hero section takes full height of viewport without scrolling */
/* main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
} */

/* Header Styles */
.navbar {
    background-color: #f0f0f0 !important; 
}

.navbar-brand {
    color: #000 !important; 
    font-weight: 600;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #000 !important;  
}

.navbar-nav .nav-link:hover {
    color: #818181 !important;
}

.search-container {
    margin-right: 50px; 
}

.search-container input {
    background-color: #ffffff;
}
.search-container input:focus{
    border-color:rgb(171, 171, 171) ;
    box-shadow: none;
}
.search-container button {
    background-color: #000; 
    color: #fff;
}

.search-container button:hover {
    background-color: #5e5e5e; 
    color: white;
}
.icons a {
    color: #000 !important;
}

.icons a:hover {
    color: #818181 !important;
}