<link rel="stylesheet" href="/styles/user/component/footer.css">
<footer class="footer pt-5">
    <div class="container">
        <div class="footer-content">
            <div class="brand-section">
                <h2>SHOEZIE</h2>
                <p>We have shoes that suit your style and which you’re proud to wear. From women to men.</p>
                <div class="social-icons">
                    <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                    <a href="https://github.com" target="_blank"><i class="fab fa-github"></i></a>
                </div>
            </div>
            <div class="company">
                <h3>COMPANY</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Works</a></li>
                    <li><a href="#">Career</a></li>
                </ul>
            </div>
            <div class="help">
                <h3>HELP</h3>
                <ul>
                    <li><a href="#">Customer Support</a></li>
                    <li><a href="#">Delivery Details</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="faq">
                <h3>F A Q</h3>
                <ul>
                    <li><a href="#">Account</a></li>
                    <li><a href="#">Manage Deliveries</a></li>
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Payments</a></li>
                </ul>
            </div>
        </div>
        <hr class="footer-divider">
        <div class="copyright">
            <p>&copy; 2024 SHOEZIE. All rights reserved.</p>
        </div>
    </div>
</footer>
